@font-face {
    font-family: 'Impact';
    src: url('../../assets/fonts/Impact.eot');
    src: url('../../assets/fonts/Impact.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Impact.woff2') format('woff2'),
        url('../../assets/fonts/Impact.woff') format('woff'),
        url('../../assets/fonts/Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../../assets/fonts/NotoSans-Regular.eot');
    src: url('../../assets/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/NotoSans-Regular.woff2') format('woff2'),
        url('../../assets/fonts/NotoSans-Regular.woff') format('woff'),
        url('../../assets/fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../../assets/NotoSans-Medium.eot');
    src: url('../../assets/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/NotoSans-Medium.woff2') format('woff2'),
        url('../../assets/NotoSans-Medium.woff') format('woff'),
        url('../../assets/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../../assets/NotoSans-Light.eot');
    src: url('../../assets/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/NotoSans-Light.woff2') format('woff2'),
        url('../../assets/NotoSans-Light.woff') format('woff'),
        url('../../assets/NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../../assets/NotoSans-Bold.eot');
    src: url('../../assets/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/NotoSans-Bold.woff2') format('woff2'),
        url('../../assets/NotoSans-Bold.woff') format('woff'),
        url('../../assets/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../../assets/NotoSans-SemiBold.eot');
    src: url('../../assets/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/NotoSans-SemiBold.woff2') format('woff2'),
        url('../../assets/NotoSans-SemiBold.woff') format('woff'),
        url('../../assets/NotoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




