// colors

//  primary
$primary__color--text: #3A4446;
$primary__color--cta-active: #E24E42;
$primary__color--second-text: #fff;
$primary__color--bkgd: #FBFFFF;
 
// secondary
$secondary__color--cta-hover: #E56055;
$secondary__color--icon-frame: #e56155c9;
$secondary__color--bkgd-clearCards: #FCFDFF;
$secondary__color--bkgd-darkCards: #2D3637;
$secondary__color--divider: #3a444610;

