@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';



.main {
    padding: 4rem 0 4rem 0;
    // height: 100vh;
    background-color: $primary__color--second-text;
    @include tablet {
        padding: 5rem 2rem;
    }

    

    &__title {
    @include section-header__mobile;
    color: $primary__color--text;
    text-align: center;
    padding: 0 0 4rem 0;

    @include tablet {
        @include section-header__tablet-desktop;
    }

    }


    &__cards {
        @include display-flex(row, center, flex-start);
        flex-wrap: wrap;
        gap: 4rem;

    }
}