@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.nav {
    background-color: $primary__color--bkgd;


    &__title {
        @include section-header__mobile;
        color: $primary__color--text;
        text-align: center;
        padding: 1rem 0;

        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px .5px;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px .5px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px -1px 4px .5px;

        @include tablet {
            @include section-header__tablet-desktop;
            padding: 1.25rem 0;


            @include desktop {
                padding: 1.75rem 0;
            }
        }
    }
}